用户名：{{username}}

{% for key,value in request.session.items %}
    
        {{key}}：{{ value }}
    
{% endfor %}
<form method="post" action="">
    <table>
    	<tr>
    		<td>姓名</td>
    		<td>医保号</td>
    		<td>单位名称</td>
    		<td>原号码</td>
    		<td>新号码</td>
    		<td>备注</td>
        <td>发布者</td>
    	</tr>
    	{{f.management_form }}
       {%for fs in f %}
      <tr>
      	<td>{{ fs.xm}}</td>
      	<td>{{ fs.ybh}}</td>
      	<td>{{ fs.dwmc}}</td>
      	<td>{{ fs.yhm}}</td>
      	<td>{{ fs.xhm}}</td>
      	<td>{{ fs.bz}}</td>
        <td><input type="" name="" value="{{username}}">{{ username}}</td>
      </tr>
       {% endfor %}
      <!-- {{f.as_table}}
///
       {%for fs in f %}
     {{fs}}
       {% endfor %} -->
    </table>
    <input type="submit" name="">提交
    
</form>
<table>
<thead>
<tr>
	<th>序号</th>
	<th>姓名</th>
	<th>医保号</th>
	<th>单位名称</th>
	<th>原号码</th>
	<th>新号码</th>
	<th>发布者</th>
	<th>发布时间</th>
	<th>备注</th>
</tr>
</thead>
<tbody>
 {% for d in dcl %}
      <tr> 
      	<td>{{d.id}}</td>
      	<td>{{d.xm}}</td>
      	<td>{{d.ybh}}</td>
      	<td>{{d.dwmc}}</td>
      	<td>{{d.yhm}}</td>
      	<td>{{d.xhm}}</td>
      	<td>{{d.fbz}}</td>
      	<td>{{d.fbsj}}</td>
      	<td>{{d.bz}}</td>
      </tr>
       {% endfor %}
 </tbody>      
       </table>